<html>
    <head>
        <title>Self-Checkout</title>
        <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script type="text/javascript" src="../scripts/slideshow.js"></script>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href=#start onclick="currentSlide(1)"> Start</a></li>
                        <li><a href =#menu onclick="currentSlide(2)"> Menu</a></li>
                        <li><a href="#payment" onclick="currentSlide(3)"> Payment</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <h1 class="title">Welcome to the Self-Checkout</h1>
                <button class="startbtn">Get Started!</button>
            </div>

            <div class="mySlides fade">
                <h1 class="title">Item Menu</h1>
                <button class="menubtn">Enter a Code</button>
                <button class="menubtn">Remove an Item from Cart</button>
                <button class="menubtn">Ask for Help</button>
                <button class="menubtn">Checkout</button>
                <button class="menubtn">Cancel</button>
            </div>

            <div class="mySlides fade">
                <h1 class="title">Payment</h1>
                <button class="paybtn">Credit</button>
                <button class="paybtn">Debit</button>
                <button class="paybtn">Cancel</button>

            </div>
        </div>

    </body>
</html>