<html>
    <head>
        <title>Self-Checkout</title>
        <link href="static/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href =#> Start</a></li>
                        <li><a href =#> Menu</a></li>
                        <li><a href="https://github.com/chen-jonathan/Loan_Application"> Payment</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <h1>Welcome to the Self-Checkout</h1>
                <button>Get Started!</button>
            </div>

            <div class="mySlides fade">
                <h1>Menu</h1>
                <button>Enter a Code</button>
                <button>Remove an Item from Cart</button>
                <button>Ask for Help</button>
                <button>Checkout</button>
                <button>Cancel</button>
            </div>

            <div class="mySlides fade">
                <h1>Payment</h1>
                <button>Credit</button>
                <button>Debit</button>
                <button>Cancel</button>

            </div>
        </div>

    </body>
</html>